<h1 class="measure center">5aSide</h1>
<div class="measure center">
  <!-- <a class="f6 no-underline grow dib v-mid bg-green white ba b--blue ph3 pv2 mb3" ui-sref="register">Register</a>
  <span class="dib v-mid ph3 red-70 bg-blue mb3">or</span>
  <a class="f6 no-underline grow dib v-mid bg-green white ba b--blue ph3 pv2 mb3" ui-sref="login">Login</a> -->
</div>

<div class="measure center theCube item animated bounceInDown">
  <div class="stage">
    <div class="cube">
      <figure class="back"></figure>
      <figure class="top"></figure>
      <figure class="bottom"></figure>
      <figure class="left"></figure>
      <figure class="right"></figure>
      <figure class="front">
        <div class="registerButton">
          <a class="f4 no-underline grow dib v-mid bg-black white ba b--black ph3 pv2 mb3 pointer" ui-sref="register">Register</a>
          <span class="dib v-mid ph3 red-70 bg-white mb3">or</span>
          <a class="f4 no-underline grow dib v-mid bg-black white ba b--black ph3 pv2 mb3 pointer" ui-sref="login">Login</a>
        </div>
      </figure>
    </div>
  </div>
</div>

<!-- <script type="text/javascript">
it('should check ngHide', function() {
var checkbox = element(by.model('checked'));
var checkElem = element(by.css('.check-element'));

expect(checkElem.isDisplayed()).toBe(true);
checkbox.click();
expect(checkElem.isDisplayed()).toBe(false);
});
</script> -->
<!-- Hide: <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide"><br />
<div class="check-element funky-show-hide" ng-hide="checked">
  I hide when your checkbox is checked.
</div> -->



<!-- a spinning football  -->
<!-- <div class='ball'>
  <div></div>
</div> -->


 <!-- animated footballs-->
<!-- <p class="moveingball"></p>
<p class="moveingball2"></p>
<p class="moveingball3"></p>
<p class="moveingball4"></p>
<p class="moveingball5"></p>
<p class="moveingball6"></p>
<p class="moveingball7"></p> -->



<!-- <div id="stage">
  <div id="traveler">
    <div id="bouncer"></div>
  </div>
</div> -->

<!-- <div id="stage" style="background: rgba(0,0,0,0.5);">
<p id="spinner" style="background: rgba(0,0,0,0.5); text-align: center; color: #fff;">aaaaaaaaaaaaaaaaa</p>
</div> -->

<!--  the spinner -->
<!-- <div id="stage" style="padding-left: 180px; height: 160px;" class="spinnerBG">
<div id="spinner" style="-webkit-transform-origin: 180px 0 0;">
<img style="-webkit-transform: rotateY(0deg) translateX(180px); padding: 0 0 0 160px;" src="https://s-media-cache-ak0.pinimg.com/736x/40/84/1e/40841e7bd9636b6e2cf7c56bf78df325.jpg" width="200" height="160" alt="">
<img style="-webkit-transform: rotateY(0deg) translateX(180px); padding: 0 0 0 160px;" width="200" height="160" alt=""><a ui-sref="teams" class="no-underline f3">Teams</a>
<img style="-webkit-transform: rotateY(-72deg) translateX(180px); padding: 0 0 0 147px;" src="http://images.nike.com/is/image/DotCom/PDP_THUMB_RETINA/833385_001/vapor-untouchable-pro-mens-football-cleat.jpg" width="213" height="160" alt="">
<img style="-webkit-transform: rotateY(-144deg) translateX(180px); padding: 0 0 0 120px;" src="http://i.ebayimg.com/00/s/NzgwWDc4MA==/z/-3kAAOSwpkFY8JHX/$_1.JPG?set_id=8800005007" width="240" height="160" alt="">
<img style="-webkit-transform: rotateY(-216deg) translateX(180px); padding: 0 0 0 147px;" src="http://i.ebayimg.com/00/s/NDAwWDQwMA==/z/hl0AAOSwosFUWSdo/$_1.JPG?set_id=2" width="213" height="160" alt="">
<img style="-webkit-transform: rotateY(-288deg) translateX(180px); padding: 0 0 0 122px;" src="https://cdn.sportsshoes.com/product/N/NIK3941/NIK3941_400_1.jpg" width="238" height="160" alt="">
</div>
</div> -->

<!-- rolling square  -->
<!-- <div id="square"></div> -->
