<form ng-submit="login.login()" class="measure center">
  <h1>Login</h1>
  <div class="mt3">
    <label class="db fw6 lh-copy f3 white" for="email-address">Email</label>
    <input class="pa3 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="email" name="email"  id="email" ng-model="login.user.email">
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f3 white" for="password">Password</label>
    <input class="pa3 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="password" name="password"  id="password" ng-model="login.user.password">
  </div>
  <input class="button grow pointer" type="submit" value="Submit">
</form>
<div class="mv3 measure center">
    <p>Don't have an account? <a ui-sref="register" class="button grow">Sign up here</a></p>
</div>
