<!-- <h1>Edit {{ teams.team.name }}</h1> -->
<h1>Edit Team here</h1>
<form ng-submit="teams.update()" class="measure center" name="teamsEdit.editForm">
  <div class="mt3">
    <label class="db fw6 lh-copy f3 white" for="name">Name</label>
    <input class="pa3 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="name" id="name" ng-model="teams.team.name" placeholder="Name">
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f3 white" for="description">Description</label>
    <textarea id="description" name="description" ng-model="teams.team.description" class="pa3 input-reset ba bg-transparent hover-bg-black hover-white w-100" placeholder="Write description of team here"></textarea>
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f3 white" for="Image">Image</label>
    <input class="pl pa3 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="image" ng-model="teams.team.image" placeholder="Paste Image address here">
  </div>
  <div class="mv3">
    <input class="button pointer" type="submit" value="Update Team">
    <a class="button pointer" ui-sref="teams">Back</a>
  </div>
</form>
