<h1>Teams</h1>
<div class="fl w-100 w-50-m w-25-ns pa1" ng-repeat="team in teams.teams">
  <div class="requests fl w-1 ph2 pv4 bg-green team-inner">
    <a ui-sref="teamsShow({ id: team.id })"><h3>{{ team.name }}</h3></a>
    <a ui-sref="teamsShow({ id: team.id })"><img ng-src="{{ team.image }}" style="margin:auto;"></a>
    <div class="caption pt3">
      <a ng-class="teams.button" class="button"  ui-sref="teamsShow({ id: team.id })">Apply</a>
    </div>
  </div>
</div>
<a class="button b ph3 pv2 grow pointer f4 dib createTeam" ui-sref="teamsNew">Create a Team</a>
