<h1>Create new Team here</h1>
<form ng-submit="teams.create()" class="measure center" name="teamsNew.teamForm">
  <div class="mt3">
    <label class="db fw6 lh-copy f6" for="name">Name</label>
    <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="name" id="name" ng-model="teams.team.name" placeholder="Name">
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f6" for="description">Description</label>
    <textarea id="description" name="description" ng-model="teams.team.description" class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" placeholder="Write description of team here"></textarea>
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f6" for="Image">Image</label>
    <input class="pl pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="image" ng-model="teams.team.image" placeholder="Paste Image address here">
  </div>
  <div class="mv3">
    <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Create Team">
    <a class="f6 link dim br2 ba ph3 pv2 dib apply-btn" ui-sref="teams">Back</a>
  </div>
</form>
