<h1>{{ teams.teams.name }}</h1>
<div class="potato">
</div>
<!-- <div class="measure center fl w-100 w-40-ns pa4 pt1 cf bg-white relative br3"> -->
<div class="team fl w-100 w-50-m w-25-ns pa1">
  <div class="fl w-1 ph2 pv4 bg-white team-inner">
    <img class="" ng-src="{{ teams.teams.image }}" style="margin:auto;">
    <p>{{ teams.teams.description }}</p>
    <div class="caption pt3">
      <!-- <a class="f6 link dim br2 ba ph3 pv2 dib apply-btn">I want to play</a> -->
      <a class="b pa3 mv3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" ui-sref="teamsEdit({ id: teams.teams.id })">Edit</a>
      <a class="b pa3 mv3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" ui-sref="teams">Back</a>
      <!-- <button ng-disabled="teamsShow.canRequest(teamsShow.team.requestedBy, teamsShow)" class="b pa3 mv3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" ng-click="teamsShow.request()" type="button" name="button">Request this team</button> -->
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
