<h1>{{ teams.teams.name }}</h1>
<!-- <div class="measure center fl w-100 w-40-ns pa4 pt1 cf bg-white relative br3"> -->
<div class="dib pa1">
  <div class="fl w-1 ph2 pv4 bg-white team-inner">
    <p>Team Captain: {{ teams.teams.creator.username }}</p>
    <img class="" ng-src="{{ teams.teams.image }}" style="margin:auto;">
    <p>{{ teams.teams.description }}</p>
    <div class="caption pt3">

      <a ng-hide="teams.teams.creator.id === user.user.id" class="b pa3 mv3 pv2 input-reset ba b--black bg-transparent grow pointer f5 dib no-underline" ng-click="teams.request(teams.teams.id)">Request</a>
      <a ng-hide="teams.teams.creator.id !== user.user.id" class="b pa3 mv3 pv2 input-reset ba b--black bg-transparent grow pointer f5 dib no-underline" ui-sref="teamsEdit({ id: teams.teams.id })">Edit</a>
      <a class="b pa3 mv3 pv2 input-reset ba b--black bg-transparent grow pointer f5 dib no-underline" ui-sref="teams">Back</a>
    </div>
  </div>

  <div class="dib pa1 ml1">
    <div class="fl requests w-1 ph2 pv4 bg-white">
      <p>These players have requested to join:</p>
      <ul>
        <li ng-repeat="request in teams.teams.requests track by $index">
          <p>{{ request.user.username }}
            <button class="b pa3 mv3 pv2 input-reset ba b--black bg-transparent grow pointer f5 dib no-underline" ng-click="teams.accept(request)">Accept</button>
            <button class="b pa3 mv3 pv2 input-reset ba b--black bg-transparent grow pointer f5 dib no-underline" ng-click="teams.reject(request)">reject</button>
          </p>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="dib pa1">
    <div class="fl requests w-1 ph2 pv4 bg-white">
      <p>Team players: </p>
      <ul>
        <li ng-repeat="request in teams.teams.requests track by $index">
          <p>{{ request.user.username }}
            <button class="b pa3 mv3 pv2 input-reset ba b--black bg-transparent grow pointer f5 dib no-underline" ng-click="teams.accept(request)">Accept</button>
            <button class="b pa3 mv3 pv2 input-reset ba b--black bg-transparent grow pointer f5 dib no-underline" ng-click="teams.reject(request)">reject</button>
          </p>
        </li>
      </ul>
    </div>
  </div> -->
