<h1>{{ teams.teams.name }}</h1>
<!-- <div class="measure center fl w-100 w-40-ns pa4 pt1 cf bg-white relative br3"> -->
  <div class="team fl w-100 w-50-m w-25-ns pa1">
    <div class="fl w-1 ph2 pv4 bg-red team-inner">
      <img class="" ng-src="{{ teams.teams.image }}" style="margin:auto;">
      <p>{{ teams.teams.description }}</p>
      <div class="caption pt3">
        <!-- <a class="f6 link dim br2 ba ph3 pv2 dib apply-btn">I want to play</a> -->
        <a class="f6 link dim br2 ba ph3 pv2 dib apply-btn" ui-sref="teamsEdit({ id: team.id })">Edit</a>
      </div>
    </div>
  </div>
<!-- </div> -->
