body {
  background: url(../images/football.jpg);
  background-size: cover;
}
.team-inner {
  text-align: center;
  &:hover {

  }
}


.logoLogo {
  float: left
}

.regButton{
  border: 1px solid white;
  color: white;
  height: 100px;
  width: 150px;
  border-radius: 52px;
  background: none;
}
.regButton:hover {
  background-color: #6CAE75;
}

.loginButton {
  border: 1px solid white;
  color: white;
  border: 1px solid white;
  color: white;
  height: 100px;
  width: 150px;
  border-radius: 52px;
  background: none;
}

.loginButton:hover {
  background-color: #6CAE75;
}

#buttonDiv {
  position: absolute;
  height: 200px;
  left: 40%;
  top: 50%;
}
