// Import all of your scss files here

body {
  // background: white; /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(black, white); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(black, white); /* Standard syntax */

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),black); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),black); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),black); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0), black); /*Standard*/
}

.theCube {
  margin-top: 100px;
}
.registerButton {
  padding-top: 75px;
  padding-left: 45px;
}

.potato {
  padding: 300px;
  float: left;
}

.team-inner {
  text-align: center;
}

h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px green;
  text-align: center;
}

.ng-message-error p {
  clear: both;
  border: 1px solid #eb2e60;
  background: lighten(#eb2e60, 30%);
  padding: 5px;
  border-radius: 5px;
  color: #eb2e60;
}

// box
.stage {
  width: 300px; height: 300px;
  -webkit-perspective: 1600px;
  -webkit-perspective-origin: 50% -240px;
}

figure {
  display: block; position: absolute;
  width: 300px; height: 300px;
  background-color: #60c2ef;
}

.cube { -webkit-transform-style: preserve-3d; }
figure { -webkit-transform-origin: 50% 50% 0; }
.front { -webkit-transform: translateZ(150px); }
.back { -webkit-transform: rotateY(180deg) translateZ(150px); }
.top { -webkit-transform: rotateX(90deg) translateZ(150px); }
.bottom { -webkit-transform: rotateX(-90deg) translateZ(150px); }
.left { -webkit-transform: rotateY(-90deg) translateZ(150px); }
.right { -webkit-transform: rotateY(90deg) translateZ(150px); }

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotateY(0); }
  100% { -webkit-transform: rotateY(360deg); }
}
.cube { -webkit-animation: rotate 10s infinite linear; }

figure:before, figure:after {
  content: ""; display: block; position: absolute;
  width: 100%; height: 100%; opacity: 0;
}
figure:before {
  background: -webkit-radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
}
figure:after {
  background: -webkit-radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000);
}

.front:before { -webkit-animation: frontShading1 10s infinite linear; }

@-webkit-keyframes frontShading1 {
  2% { opacity: 0; }
  25% { opacity: 0.8; }
  35% { opacity: 0.8; }
  50% { opacity: 0; }
}

// .top:after {
//   opacity: 0.5; width: 200%; height: 200%;
//   margin-left: -50%; margin-top: -50%;
//   background: -webkit-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
//   -webkit-animation: rotateTop 10s infinite linear;
// }
@-webkit-keyframes rotateTop {
  0% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(360deg); }
}

.bottom {
  -webkit-box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0);
}

// figure {
//   background-image: url(https://pbs.twimg.com/profile_images/502608767574638594/vxHUeun6_400x400.jpeg);
//   background-size: 100%;
// }
.top {
  background-image: url(https://i.ytimg.com/vi/prALrHUJ8Ns/hqdefault.jpg);
}

// figure {
//   background-color: #eeeeee;
//   background: url(http://s2.dmcdn.net/Ub1O8/1280x720-mCQ.jpg);
// }
.front {
  //   background: #e0e0e0 url(https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg) no-repeat;
  background-color: white;
}
// figure {
//   -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(RGBA(0, 0, 0, 0.1)));
// }



//
.logo{
  // font-family: 'Baloo', cursive;
  // text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  &:hover{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation:spin 4s linear infinite;
    animation-duration: 800ms;
    animation-name: spin;
    -webkit-animation: spin 5s infinite;
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
